<newtype>
  <tab1Text>1</tab1Text>
  <tab1Query>2</tab1Query>
  <tab2Text>3</tab2Text>
  <tab2Query>4</tab2Query>
  <tab3Text>5</tab3Text>
  <tab3Query>6</tab3Query>
  <tab4Text>7</tab4Text>
  <tab4Query>8</tab4Query>
  <tab5Text>9</tab5Text>
  <tab5Query>10</tab5Query>
  <tab6Text>11</tab6Text>
  <tab6Query>12</tab6Query>
  <tab7Text>13</tab7Text>
  <tab7Query>14</tab7Query>
  <tab8Text>15</tab8Text>
  <tab8Query>16</tab8Query>
  <tab0Text>17</tab0Text>
  <tab0Query>18</tab0Query>
  <defaultSV>0</defaultSV>
  <server>D3w5198c+MjcrTNOcMlgLd9VVsOm2h7LykKQ+O18qe/SfO0QUFKSbC7OzUerM0+iBdpGjz9dQ5nvoJnKqaUlmZHqqLWpnCqM677W5cdIKro11YM1Mqxq9rve7W6Y+P1j8o+4pGsgq+d+iHjog48Pdg==</server>
  <myserver>jfGpqJqK4y/CKnyvS7O+JPUvf8/m1iOfyUXnedEDQJPEAO7zTZj+DzvgtYZ9CYmT5vP4jMvcenJDp+hsnX0a94hvAbBJuvmC2JL4KgkrUqk=</myserver>
  <pgserver></pgserver>
</newtype>